<footer class="main-footer">
	<div class="container">
		<strong>Copyright @ 2015-2016
			<a href="http://www.facebook.com/rozelyn.buyucan" target="_blank">Jondale Technologies</a>
		</strong> All rights reserved.
	</div>
</footer>	